body{
    background-color:#f6f1f1;
    height: 1400px;
    width: 370px;
    border:  1px solid #bfbdbd ;
    margin-left: 35%; 
    
    align-items: center;
}
.text{
   
    top: 0px;
    left: 0px;
    width: 370px;
    height: 50px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
}
span{
    
    top: 0px;
    left: 40px;
    width: 69px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 24px/29px Inter;
    letter-spacing: 0px;
    color: #424242;

}
.List{
    top: 0px;
    left: 69px;
    width: 49px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 24px/29px Inter;
    letter-spacing: 0px;
    color: #00A5EC;
}

i{
     margin-top: 40px;
   margin-left:170px; 
  
     background: #00A5EC 0% 0% no-repeat padding-box;
    opacity: 1;
    text-decoration: none;


}
 
.container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
/* justify-content: space-evenly; */
align-items: center;

}

.child1{
   
    width: 340px;
    height: 330px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
     margin-top: 20px; 
    
     
 }
 h3{
    width: 100%;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/21px Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
    margin-left: 30px;
    margin-top: 20px;
 }
 hr{
     color: #d8d5d5;
 }
 
.child2{
    
    width: 340px;
    height: 330px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-top: 20px;
    
     
 }
 
.child3{
   
    width: 340px;
    height: 330px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-top: 20px;
    
     
 }
 
 .checkbox{
    width: 100%;
    height: 21px;
    /* UI Properties */
   opacity: 1;
    margin-left: 30px;
    margin-top: 30px;
    color: #b9b2b2;
    text-decoration: line-through;
 
}
.checkbox1{
    color: black;
    margin-right: 100px;
    margin-left: 30px;
}  
  
.checkbox3{
    color: #bbb7b7;
    text-decoration: line-through;
  margin-top: 30px;
  margin-right: 80px;
    margin-left:40px;
 
}
.checkbox4{
    color: black;
    margin-right: 80px;
    margin-left: 40px;
 
}
.checkbox5{
    color: #c9c2c2;
    text-decoration: line-through;
  margin-top: 50px;
  margin-right: 90px;
    margin-left: 20px;
 
}
.checkbox6{
    color: black;
    margin-right: 90px;
    margin-left: 15px;
 
}
.lable{
    width: 100%;
    height: 20px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
}
input{
    /* top: 390px;
left: 169px; */
width: 25px;
height: 25px;
/* UI Properties */
background: #c9c6c6 0% 0% no-repeat padding-box;
border: 1px solid #dbd5d5;
border-radius: 4px;
opacity: 1;
}
@media only screen and (max-width: 670px) {
    .container {
        width: 350px;
        height: 100%;
    }
  }
  @media only screen and (max-width: 670px) {
    .body {
        width: 376px;
        height: 100%;
       
    }
  }

